
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

div {
	overflow: hidden;
	margin: 0;
}

body {
	background-color: #0000;
	margin: 0;
}

p {
  font-family: 'Ubuntu';
  color: maroon;
  margin: 10px;
}


header {
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
	float: left;
	margin: 0;
	padding: 0;
}

h2 {
	color: grey;
	float: left;
	margin: 0;
	padding: 0;
}

h3 {
	color: #6bd393;
	font-style: normal;
}

table {
	margin: 0px;
	padding: 0px;
}

.uppercase {
  text-transform: lowercase;
}

.rightAlignTitle{
	float: right;
}

.title {
  color: white;
  text-shadow: black 0px 0px 1px;
  font-family: 'Ubuntu';
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 7px;
  margin: 0;
  letter-spacing: 5px;
}

.title2 {
  color: pink;
  text-shadow: black 0px 0px 1px;
  font-family: 'Ubuntu';
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 7px;
  margin: 0;
  letter-spacing: 5px;
}

/*nav {
	font-family: 'Ubuntu';
	font-size: 30px;
	margin: 0px;
	padding-bottom: 2px;
	text-align: right;
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 8vh;
	background-image: linear-gradient(to bottom, rgba(204,99,141,0.9), rgba(204,99,141,1));
	background-image: linear-gradient(to bottom right, #d13475, blue);
	background-color: #d6719d;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
}*/

nav {
	font-family: 'Ubuntu';
	font-size: 30px;
	margin: 0px;
	padding-bottom: 2px;
	text-align: right;
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 8vh;
	background-color: #7daaf2;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
}

.menuPage {
	background-image: linear-gradient(to bottom, rgba(0,99,141,0.9), rgba(204,99,141,1));
}

nav ul{
	margin: 0;
}


.links {
	display: flex;
	text-decoration: none;
	justify-content: space-around;
	width: 35%;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 7px;
	margin: 0;
}

.links li{
	list-style: none;
}

.links ul{
	margin: 0;
}

.links a{
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 20px;
}

.container {
	position: relative;
	font-size: 0px;
	/*margin-top: 0px;*/
}

.container img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.container2 {
	position: relative;
	font-size: 0px;
}

.container2 img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.motto {
	
	position: absolute;
	top: 280px;
	left: 80px;
	width: 100%;
	font-family: Lora;
	color: white;
	letter-spacing: 2px;

}

.motto2 {
	position: absolute;
	top: 1200px;
	right: 50px;
	width: 100%;
	font-family: Lora;
	color: white;
}

.form {
	padding-left: 100px;
	padding-top: 50px;
}

.textBoxes1and2 {
	display: inline;
}

.textBox1 {

	width: 600px;
	height: 400px;
	padding: 12px;
	margin-left: 3px;
	margin-top: 3px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	background-color: white;
	float: left;
}

.textBox2 {
	width: 910px;
	height: 400px;
	padding: 12px;
	margin-left: 3px;
	margin-top: 3px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	background-color: white;
	float: left;
}

.textBox3 {

	width: 430px;
	height: 400px;
	padding: 12px;
	margin-left: 16px;
	margin-top: 90px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	background-color: white;
	float: left;
	justify-content: center;
}

.textBox4 {
	width: 430px;
	height: 600px;
	padding: 12px;
	margin-top: 90px;
	margin-left: 16px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	background-color: white;
	float: left;
	justify-content: center;
}

.textBox5 {
	width: 430px;
	height: 600px;
	padding: 12px;
	margin-top: 90px;
	margin-left: 16px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	background-color: white;
	float: left;
	justify-content: center;
}

.textBox6 {
	width: 430px;
	height: 600px;
	padding: 12px;
	margin-top: -175px;
	margin-left: 16px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	background-color: white;
	float: left;
	justify-content: center;
}

.fa {
	margin-top: 10px;
    padding: 3px;
    font-size: 30px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    border-radius: 80%;
}

.fa:hover {
	opacity: 0.9;
}

.fa-facebook {
	background: #3B5998;
  	color: white;
}

a:hover { 
  color: #D3D3D3;
}

.carousel-item {
	font-size: 60px;
}

.ContentPic img {
	max-width: 100%;
	object-fit: cover;
}

.pixlee_container {
	margin-left: 2px;
}
